# app configuration
SECRET_KEY = 'InfomationManagementDatabaseSystem2025'
SQLALCHEMY_DATABASE_URI = 'sqlite:///db.sqlite'
SQLALCHEMY_TRACK_MODIFICATIONS = False
LOG_LEVEL = 'INFO'
# admin only login
ADMIN_ONLY_LOGIN = False
# server configuration
HOST = 0.0.0.0
PORT = 5000
DEBUG = True
# admin
INITIAL_ADMIN = {"username": "admin", "user_info": "系统管理员", "password": "imds2025", "email": "admin@imds.com", "role": 1}
