{% extends "base.html" %}
{% block title %}创建工作组{% endblock %}
{% block content %}
    <div class="container">
        <h2>创建工作组</h2>
        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <label>{{ form.gname.label }}</label>
                {{ form.gname(size=32, **{"data-validate":"required|min:3"}) }}
            </div>
            <div class="form-row">
                <label>{{ form.ginfo.label }}</label>
                {{ form.ginfo(size=100) }}
            </div>
            <div class="form-row">{{ form.submit(class="btn") }}</div>
        </form>
    </div>
{% endblock %}
