{% extends "base.html" %}
{% block title %}创建项目{% endblock %}
{% block content %}
    <div class="container">
        <h2>创建项目</h2>
        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <label>{{ form.pname.label }}</label>
                {{ form.pname(size=40, **{"data-validate":"required|min:3"}) }}
            </div>
            <div class="form-row">
                <label>{{ form.pinfo.label }}</label>
                {{ form.pinfo(size=80) }}
            </div>
            <div class="form-row">
                <label>{{ form.port.label }}</label>
                {{ form.port(size=10, **{"data-validate":"required|min:2"}) }}
            </div>
            <div class="form-row">
                <label>{{ form.docker_port.label }}</label>
                {{ form.docker_port(size=10, **{"data-validate":"required|min:2"}) }}
            </div>
            <div class="form-row">{{ form.submit(class="btn") }}</div>
        </form>
    </div>
{% endblock %}
